### Prepros ###
prepros.cfg
prepros-6.config
prepros.config

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix

.history
.ionide

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Others
*.html
*.kit
*.xml
.idea
dist/dummy.js
node_modules
.parcel-cache
webpack.entry.js
webpack.config.js
.editorconfig
index.html
.eslintrc.js
.gitattributes
.gitignore