@import "mixins";

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: inline-block;
}

a {
  @include transition(color);

  @include hoverable {
    &:hover {
      color: lightskyblue;
    }
  }
}
