@import "./mixins";

$size: 32px;

[type="checkbox"], [type="radio"] {
  display: inline-block;
  appearance: none;
  position: relative;
  z-index: 0;
  width: $size;
  height: $size;
  border: 1px solid lightskyblue;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

[type="checkbox"] {
  @include transition(background);

  &::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 66.6667%;
    height: 66.6667%;
    @include transition(transform);
    transform: translate(-50%, -50%) rotate(180deg);
    // background: url("../img/check-white.svg") no-repeat center;
    background-size: contain;
  }

  &:checked {
    background: lightskyblue;

    &::before {
      transform: translate(-50%, -50%);
    }
  }
}

[type="radio"] {
  border-radius: 50%;

  &::before {
    border-radius: 50%;
    width: 66.6667%;
    height: 66.6667%;
    background: lightskyblue;
    transform: translate(-50%, #{$size});
    @include transition(transform);
  }

  &:checked {
    &::before {
      transform: translate(-50%, -50%);
    }
  }
}
