@import './mixins';

input {
  display: inline-block;
}

::placeholder {
  @include transition(opacity);
  opacity: 1;
  color: darkgrey;
}

:focus::placeholder {
  opacity: 0;
}

[type='text'] {
  &::-ms-clear,
  &::-ms-reveal {
    appearance: none;
    width: 0;
    height: 0;
  }
}

[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

[type='search'] {
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    appearance: none;
    width: 0;
    height: 0;
  }
}

textarea {
  resize: none;
}

select {
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}
