ul,
ol {
  list-style: none;
}

li {
  
  &::before,
  &::after {
    // Принудительно включить аппаратное ускорение на случай низкого заряда батареи
    transform: translate3d(0, 0, 0);
    transition: none;
  }
}

// Отключаем дефолтные маркеры браузеров
summary {
  &::-webkit-details-marker {
    display: none;
  }

  &::-moz-list-bullet {
    list-style-type: none;
  }
}

details {
  display: block;
}

summary {
  display: list-item;
}
