@import "./vars";
@import "./mixins";

@include ifHover {
  $width: 16px;

  ::-webkit-scrollbar {
    width: $width;
  }

  ::-webkit-scrollbar-track {
    background: $bodyBackgroundColor;
  }

  ::-webkit-scrollbar-thumb {
    background: black;
    border: $width * 0.25 solid $bodyBackgroundColor;
    border-radius: $width;
  }
}
