@import "./vars";
@import "./mixins";

@include ifHover {
  $width: 16px;

  ::-webkit-scrollbar {
    width: $width;
  }

  ::-webkit-scrollbar-track {
    background: $bodyBackgroundColor;
  }

  ::-webkit-scrollbar-thumb {
    // transition: background-color 0.3334s;
    // background: hsl(0, 0, 25%);
    background: black;
    border: $width * 0.25 solid $bodyBackgroundColor;
    border-radius: $width;

    //&:hover {
    //  background: black;
    //}
  }
}