::selection {
  background: rgba(lightskyblue, 0.5);
  text-shadow: none;
}

body {
  background: white;
  color: black;
  font-size: 16px;
  line-height: 1.25;
  font-family: Verdana, Geneva, sans-serif;
}

