@import "../vars";
@import "../mixins";

@include hoverable {
  $width: 16px;

  ::-webkit-scrollbar {
    width: $width;
  }

  //::-webkit-scrollbar-track {
  //  background: $bodyBackgroundColor;
  //}

  ::-webkit-scrollbar-thumb {
    background: $bodyColor;
    border: $width * 0.25 solid $bodyBackgroundColor;
    border-radius: $width;
  }
}
