html {
  @media screen and (any-hover: hover) {
    $width: 10px;

    &::-webkit-scrollbar {
      width: $width;
    }

    //::-webkit-scrollbar-track {
    //  background: black;
    //}

    &::-webkit-scrollbar-thumb {
      background: black;
      // border: $width * 0.25 solid white;
      // border-radius: $width;
    }
  }
}
